{{ define "head" }}
{{ if .Params.featuredImg -}}
<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
{{- else if .Params.images -}}
{{- range first 1 .Params.images -}}
<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
{{- end -}}
{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
{{- if (or .Params.images .Params.featuredImg) }}
<div class="bg-img"></div>
{{- end }}
<main class="site-main section-inner thin animated fadeIn faster">
    <h1>{{ .Title }}</h1>
    <div class="content">
        {{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg></a>${3}` | safeHTML }}
    </div>
    {{- if .Params.comments }}
    <div id="comments" class="thin">
        {{ partial "comments.html" . }}
    </div>
    {{- end }}

    {{- if .Params.contact }}
    <div class="content">
        <div class="form-container" id="contact">
            <!--<form name="contact" method="POST" action="{{ .Params.form_action }}" data-toggle="validator" data-netlify="true" netlify-honeypot="Reason">-->
            <form name="contact" method="POST" data-toggle="validator" data-netlify="true" netlify-honeypot="Reason">
                <div class="form-group hidden">
                    <input class="form-control" type="text" name="reason" id="reason" placeholder="reason"
                           required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" id="name" placeholder="{{.Params.name}}"
                           required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" id="email" name="email" placeholder="{{.Params.email}}" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" id="message" rows="12"
                              placeholder="{{.Params.message}}"></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <button class="submit form-control hvr-icon-push" type="submit" value="send"> {{.Params.submit}} </button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript">
     $(function() {

         $("input,textarea").not("[type=search]").jqBootstrapValidation({
             preventSubmit: true,
             submitError: function($form, event, errors) {

             },
             submitSuccess: function($form, e) {
                 e.preventDefault();

                 var submitButton = $('input[type=submit]', $form);
                 $.ajax({
                     type: 'POST',
                     url: $form.prop('action'),
                     accept: {
                         javascript: 'application/javascript'
                     },
                     data: $form.serialize(),
                     beforeSend: function() {
                         submitButton.prop('value', 'Please Wait...');
                         submitButton.prop('disabled', 'disabled');
                     }
                 }).done(function(data) {
                     submitButton.prop('value', 'Thank you for messaging me, I will get back to you shortly.');
                     submitButton.prop('disabled', false);
                     hj('formSubmitSuccessful');
                 });
             },

             filter: function() {
                 return $(this).is(":visible");
             },
         });

     });


     $('#name').focus(function() {
         $('#success').html('');
     });
    </script>

    {{- end }}

</main>


{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
